* {
    box-sizing: border-box;
}

:root {
    --hover-color: brown;
    --tooltip-color: whitesmoke;
    --tooltip-background: black;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 960px;
    margin: 0 auto;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
}

#tooltip {
    position: absolute;
    opacity: 0;
    transition: opacity 250ms ease-in;
    border-radius: 10px;
    line-height: 1.5;
    color: var(--tooltip-color);
    background-color: var(--tooltip-background);
    padding: 10px 15px;
    pointer-events: none;
}

.states {
    fill: none;
    stroke: white;
}
.county:hover {
    stroke: var(--hover-color);
}